<%- model_class = Session -%>
<h3><%= @session.quiz.title %> > <%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h3>

<%= render :partial => 'form' %>
