<% if @model.errors.any? %>
   <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <ul>
         <% @model.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %>