---
http_interactions:
- request:
    method: get
    uri: http://pubsub.pubnub.com/publish/pub-c-ad63ffeb-855a-4fc8-9eeb-eecbbedb7b5b/sub-c-8a3fa712-2e6c-11e5-83fd-0619f8945a4f/sec-c-YTk4MjJhNmQtNDU5MC00YjJiLWJiNmUtZDA5OGY3NWNlYzRk/2f7b239e2b774792-server/0/%7B%22event%22:%22question%22,%22data%22:%7B%22question%22:%7B%22title%22:%22Which%20color%20is%20the%20sky%20%3F%22,%22answers%22:%5B%7B%22id%22:6253,%22title%22:%22blue%22%7D,%7B%22id%22:6254,%22title%22:%22red%22%7D,%7B%22id%22:6255,%22title%22:%22white%22%7D,%7B%22id%22:6256,%22title%22:%22green%22%7D%5D%7D%7D%7D?auth=9850c421bea62f40&pnsdk=PubNub-Ruby/3.7.5&uuid=36ea016a-b944-4a04-8311-0c206c506618
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"status":403,"service":"Access Manager","error":true,"message":"Forbidden","payload":{"channels":["2f7b239e2b774792-server"]}}
  recorded_at: Thu, 23 Jul 2015 16:08:05 GMT
[...]
- request:
    method: get
    uri: http://pubsub.pubnub.com/publish/pub-c-ad63ffeb-855a-4fc8-9eeb-eecbbedb7b5b/sub-c-8a3fa712-2e6c-11e5-83fd-0619f8945a4f/sec-c-YTk4MjJhNmQtNDU5MC00YjJiLWJiNmUtZDA5OGY3NWNlYzRk/2f7b239e2b774792-server/0/%7B%22event%22:%22question%22,%22data%22:%7B%22question%22:%7B%22title%22:%22Which%20color%20is%20the%20sky%20%3F%22,%22answers%22:%5B%7B%22id%22:6253,%22title%22:%22blue%22%7D,%7B%22id%22:6254,%22title%22:%22red%22%7D,%7B%22id%22:6255,%22title%22:%22white%22%7D,%7B%22id%22:6256,%22title%22:%22green%22%7D%5D%7D%7D%7D?auth=9850c421bea62f40&pnsdk=PubNub-Ruby/3.7.5&uuid=36ea016a-b944-4a04-8311-0c206c506618
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"status":403,"service":"Access Manager","error":true,"message":"Forbidden","payload":{"channels":["2f7b239e2b774792-server"]}}
  recorded_at: Thu, 23 Jul 2015 16:08:14 GMT
recorded_with: VCR 2.9.3
